html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

Canvas {
    max-width: 2000px;
    max-height: 1000px;
}